@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text-50: #f2f2f2;
    --text-100: #e6e6e6;
    --text-200: #cccccc;
    --text-300: #b3b3b3;
    --text-400: #999999;
    --text-500: #808080;
    --text-600: #666666;
    --text-700: #4d4d4d;
    --text-800: #333333;
    --text-900: #1a1a1a;
    --text-950: #0d0d0d;
    
    --background-50: #f1f2f4;
    --background-100: #e2e6e9;
    --background-200: #c5ccd3;
    --background-300: #a9b3bc;
    --background-400: #8c99a6;
    --background-500: #6f7f90;
    --background-600: #596673;
    --background-700: #434c56;
    --background-800: #2c333a;
    --background-900: #16191d;
    --background-950: #0b0d0e;
    
    --primary-50: #e6effe;
    --primary-100: #cde0fe;
    --primary-200: #9bc1fd;
    --primary-300: #69a1fc;
    --primary-400: #3782fb;
    --primary-500: #0563fa;
    --primary-600: #044fc8;
    --primary-700: #033b96;
    --primary-800: #022864;
    --primary-900: #011432;
    --primary-950: #010a19;
    
    --secondary-50: #e7eafd;
    --secondary-100: #d0d6fb;
    --secondary-200: #a1acf7;
    --secondary-300: #7183f4;
    --secondary-400: #4259f0;
    --secondary-500: #1330ec;
    --secondary-600: #0f26bd;
    --secondary-700: #0b1d8e;
    --secondary-800: #08135e;
    --secondary-900: #040a2f;
    --secondary-950: #020518;
    
    --accent-50: #fdf8e8;
    --accent-100: #fbf1d0;
    --accent-200: #f6e3a2;
    --accent-300: #f2d473;
    --accent-400: #eec644;
    --accent-500: #e9b816;
    --accent-600: #bb9311;
    --accent-700: #8c6e0d;
    --accent-800: #5d4a09;
    --accent-900: #2f2504;
    --accent-950: #171202;
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    
  }
  .dark {
    --text-50: #0d0d0d;
    --text-100: #1a1a1a;
    --text-200: #333333;
    --text-300: #4d4d4d;
    --text-400: #666666;
    --text-500: #808080;
    --text-600: #999999;
    --text-700: #b3b3b3;
    --text-800: #cccccc;
    --text-900: #e6e6e6;
    --text-950: #f2f2f2;
    
    --background-50: #0b0d0e;
    --background-100: #16191d;
    --background-200: #2c333a;
    --background-300: #434c56;
    --background-400: #596673;
    --background-500: #6f7f90;
    --background-600: #8c99a6;
    --background-700: #a9b3bc;
    --background-800: #c5ccd3;
    --background-900: #e2e6e9;
    --background-950: #f1f2f4;
    
    --primary-50: #010a19;
    --primary-100: #011432;
    --primary-200: #022864;
    --primary-300: #033b96;
    --primary-400: #044fc8;
    --primary-500: #0563fa;
    --primary-600: #3782fb;
    --primary-700: #69a1fc;
    --primary-800: #9bc1fd;
    --primary-900: #cde0fe;
    --primary-950: #e6effe;
    
    --secondary-50: #020518;
    --secondary-100: #040a2f;
    --secondary-200: #08135e;
    --secondary-300: #0b1d8e;
    --secondary-400: #0f26bd;
    --secondary-500: #1330ec;
    --secondary-600: #4259f0;
    --secondary-700: #7183f4;
    --secondary-800: #a1acf7;
    --secondary-900: #d0d6fb;
    --secondary-950: #e7eafd;
    
    --accent-50: #171202;
    --accent-100: #2f2504;
    --accent-200: #5d4a09;
    --accent-300: #8c6e0d;
    --accent-400: #bb9311;
    --accent-500: #e9b816;
    --accent-600: #eec644;
    --accent-700: #f2d473;
    --accent-800: #f6e3a2;
    --accent-900: #fbf1d0;
    --accent-950: #fdf8e8;
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    
  }
}

body {
  color: var(--text-800);
  background: var(--background-100);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  
}
